@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #21a4e6;
  --main-color-dark: #475fda;
  --main-color-light: #5872f5;
  --text-color: #fcfcfd;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  background-color: #e4e2f5;
  min-height: 100vh;
  display: flex;
  position: relative;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

nav {
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
  /* max-height: 700vh; */
  background-color: var(--main-color);
  width: 16rem;
  padding: 1.8rem 0.85rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  transition: width 0.5s ease-in-out;
}

nav::before {
  content: "";
  position: absolute;
  width: 2rem;
  height: 100%;
  top: 0;
  left: 100%;
}

main {
  flex: 1;
  padding: 2rem;
  color: #1f2027;
  display: flex;
  flex-direction: column;
}

main h1 {
  margin-bottom: 1rem;
}

main .copyright {
  margin-top: auto;
  font-size: 0.9rem;
}

main .copyright span {
  color: var(--main-color);
  font-weight: 500;
  cursor: pointer;
}

.sidebar-top {
  position: relative;
  display: flex;
  align-items: center;
}

.sidebar-top .logo {
  width: 2.1rem;
  margin: 0 0.8rem;
}

.sidebar-top h3 {
  padding-left: 0.5rem;
  font-weight: 600;
  font-size: 1.15rem;
}

.shrink-btn {
  position: absolute;
  top: 50%;
  height: 27px;
  padding: 0 0.3rem;
  background-color: var(--main-color);
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0 3px 10px -3px rgba(70, 46, 118, 0.3);
  right: -2.65rem;
  transform: translateY(-50%) translateX(-8px);
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
}

.shrink-btn i {
  line-height: 27px;
  transition: 0.3s;
}

.shrink-btn:hover {
  background-color: var(--main-color-dark);
}

nav:hover .shrink-btn,
.shrink-btn.hovered {
  transform: translateY(-50%) translateX(0px);
  opacity: 1;
  pointer-events: all;
}



.sidebar-links ul {
  position: relative;
  margin-top: 0;
}

.sidebar-links li {
  position: relative;
  padding: 2.5px 0;
}

.sidebar-links a {
  color: var(--text-color);
  font-weight: 400;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  height: 53px;
}

.icon {
  font-size: 1.3rem;
  text-align: center;
  min-width: 3.7rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.icon i {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  transition: 0.3s;
}

.icon i:last-child {
  opacity: 0;
  color: #fff;
}

.sidebar-links a.active,
.sidebar-links a:hover {
  color: #fff;
}

.sidebar-links a .link {
  transition: opacity 0.3s 0.2s, color 0.3s;
}

.sidebar-links a.active i:first-child {
  opacity: 0;
}

.sidebar-links a.active i:last-child {
  opacity: 1;
}

.active-tab {
  width: 100%;
  /* height: 53px; */
  background-color: var(--main-color-dark);
  border-radius: 10px;
  /* position: absolute; */
  /* top: 2.5px; */
  /* left: 0; */
  transition: top 0.3s;
}

.sidebar-links h4 {
  position: relative;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 600;
  padding: 0 ;
  color: var(--text-color);
  letter-spacing: 0.5px;
  height: 45px;
  line-height: 45px;
  transition: opacity 0.3s 0.2s, height 0.5s 0s;
}

.sidebar-footer {
  position: relative;
  margin-top: 0;
  margin-left: 0;
}

.sidebar-footer hr{
  margin-top: 10px;
  color: #fff;
  height: 2px;
  margin-bottom: 10px;
}

.account {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  color: var(--text-color);
  height: 53px;
  width: 3.7rem;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s 0s, color 0.3s 0s;
}

.account:hover {
  color: #fff;
}

.admin-user {
  display: flex;
  align-items: center;
  margin-left: 0;
  margin-top: 30px;
}

.admin-profile {
  white-space: nowrap;
  max-width: 100%;
  transition: opacity 0.3s 0.2s, max-width 0.7s 0s ease-in-out;
  display: flex;
  align-items: center;
  flex: 1;
  overflow: hidden;
  margin-right: 10px;
}

.admin-user img {
  width: 2.9rem;
  border-radius: 50%;
  margin: 0 0.4rem;
}

.admin-info {
  /* padding-left: 0.1rem; */
  width: 100%;
}

.admin-info h3 {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1;
}

.admin-info h5 {
  font-weight: 400;
  font-size: 0.75rem;
  color: var(--text-color);
  margin-top: 0.3rem;
  line-height: 1;
}

.log-out {
  display: flex;
  height: 35px;
  width: 35px;
  /* min-width: 2.4rem; */
  background-color: var(--main-color-dark);
  color: var(--text-color);
  align-items: center;
  justify-content: center;
  font-size: 1.15rem;
  border-radius: 10px;
  margin: 0 0.65rem;
  transition: color 0.3s;
}

.log-out:hover {
  color: #fff;
}

.tooltip {
  background-color: var(--main-color);
  position: absolute;
  right: -1.2rem;
  top: 0;
  transform: translateX(100%) translateY(-50%);
  padding: 0 0.8rem;
  font-size: 0.85rem;
  display: none;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  height: 30px;
  align-items: center;
  border-radius: 7px;
  box-shadow: 0 3px 10px -3px rgba(70, 46, 118, 0.3);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  text-align: center;
  white-space: nowrap;
}

.tooltip span {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  opacity: 0;
  transition: 0.3s;
}

.tooltip span.show {
  opacity: 1;
}

.tooltip-element:hover ~ .tooltip {
  opacity: 1;
  pointer-events: all;
}

/* When the menu shrinks */

.hide {
  transition: opacity 0.3s 0.2s;
}

body.shrink nav {
  width: 5.4rem;
}

body.shrink .hide {
  opacity: 0;
  pointer-events: none;
  transition-delay: 0s;
}

body.shrink .shrink-btn i {
  transform: rotate(-180deg);
}

body.shrink .sidebar-links h4 {
  height: 10px;
}

body.shrink .account {
  opacity: 1;
  pointer-events: all;
  transition: opacity 0.3s 0.3s, color 0.3s 0s;
}

body.shrink .admin-profile {
  max-width: 0;
  transition: opacity 0.3s 0s, max-width 0.7s 0s ease-in-out;
}

body.shrink .tooltip {
  display: grid;
}


/* *{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body{
    font-family: Helvetica;
    -webkit-font-smoothing: antialiased;
    background: rgba( 71, 147, 227, 1);
} */
/* h2{
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    padding: 30px 0;
} */

/* .cont{
  display: flex;
  align-items: center;
	justify-content: center;
  z-index: 1111;
  padding: 0 20px;
}

.data{
	display: flex;
	gap: 0 20px;
	align-items: center;
	justify-content: center;
  }

  .card {
	Add shadows to create the "card" effect
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	margin-top: 5rem;
	width: 40%;
	margin-left: 5rem;
    height:100px;
	background-color: #fff;
	color: black;
	margin-left: auto;
	margin-right: auto;
	
  }
  
  On mouse-over, add a deeper shadow
  .card:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  Add some padding inside the card container
  .in-card {
	padding: 10px 16px;
	margin: 0 20px;
  }


  
  
    .box{
    width: 100%;
    }
  
    .nemu h2{
      color: black;
    width: 70%;
    float: left;
    padding-top: 0.2rem;
    padding-bottom: 0.5rem;

    margin-top:10px;
  
    }    
    
    .nemu h4{
      color: black;
    width: 70%;
    float: left;
    padding-top: 0.2rem;
    padding-bottom: 0.5rem;

    margin-top:10px;
  
    }
  
    .op{
    width: 30%;
    float:right;
    padding-left: 3rem;
    padding-top: 1rem;
    } */

    *, *::before, *::after {
      box-sizing: border-box;
   }
    /* html {
      background-color: #f0f0f0;
   }
    body {
      color: #999999;
      font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-style: normal;
      font-weight: 400;
      letter-spacing: 0;
      padding: 1rem;
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      -moz-font-feature-settings: "liga" on;
   } */
    /* img {
      height: auto;
      max-width: 100%;
      vertical-align: middle;
   } */
    /* .btn {
      background-color: white;
      border: 1px solid #cccccc;
      color: #696969;
      padding: 0.5rem;
      text-transform: lowercase;
   }
    .btn--block {
      display: block;
      width: 100%;
   } */
    .cards {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      margin: 0;
      padding: 0;
      justify-content: center;
      align-items: center;
   }
    .cards__item {
      display: flex;
      padding: 1rem;
   }
    @media (min-width: 40rem) {
      .cards__item {
        width: 50%;
     }
   }
    @media (min-width: 56rem) {
      .cards__item {
        width: 33.3333%;
     }
   }
    .card {
      background-color: white;
      border-radius: 0.25rem;
      box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
      display: flex;
      flex-direction: column;
      overflow: hidden;
      height: 130px;
      width: 20rem;

   }
    .card__content {
      display: flex;
      flex: 1 1 auto;
      flex-direction: column;
      padding: 1rem;
   }

   /* .card__content p{
    padding-top: 1rem;
    font-size: 2rem;

   } */
    .card__image {
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      border-top-left-radius: 0.25rem;
      border-top-right-radius: 0.25rem;
      overflow: hidden;
      position: relative;
      transition: filter 0.5s cubic-bezier(.43,.41,.22,.91);
   }
    .card__image::before {
      content: "";
      display: block;
      padding-top: 56.25%;
   }
    @media (min-width: 40rem) {
      .card__image::before {
        padding-top: 66.6%;
     }
   }
    .card__image--flowers {
      background-image: url(https://unsplash.it/800/600?image=82);
   }
    .card__image--river {
      background-image: url(https://unsplash.it/800/600?image=11);
   }
    .card__image--record {
      background-image: url(https://unsplash.it/800/600?image=39);
   }
    .card__image--fence {
      background-image: url(https://unsplash.it/800/600?image=59);
   }
    .card__title {
      color: #696969;
      font-size: 1rem;
      font-weight: 300;
      letter-spacing: 2px;
      text-transform: uppercase;
      text-align: center;
   }
   .card__text {
    flex: 1 1 auto;
    font-size: 0.875rem;
    /* line-height: 1.5; */
    /* margin-bottom: 1.25rem; */
    padding-top: 1rem;
    font-size: 1.5rem;
    text-align: center;

  }

  .card__text2{
    flex: 1 1 auto;
    font-size: 0.875rem;
    /* line-height: 1.5; */
    /* margin-bottom: 1.25rem; */
    padding-top: 2.1rem;
    font-size: 1.5rem;
    text-align: center;

  }

    .search{
      margin: 10px 70px;
      width: 100;
    }
    
    input[type=number]{
      background-color: #f6f6f6;
      border: none;
      color: #0d0d0d;
      padding: 5px 20px;
      /* text-align: center; */
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 5px;
      width: 90%;
      border: 2px solid #f6f6f6;
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -ms-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
      -webkit-border-radius: 5px 5px 5px 5px;
      border-radius: 5px 5px 5px 5px;
    }

    
  input[type=number]:focus {
    background-color: #fff;
    border-bottom: 2px solid #5fbae9;
    outline: none;
  }

  /* Table Styles */

.table-wrapper{
  margin: 10px 70px 70px;
  box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}

.fl-table {
  border-radius: 5px;
  font-size: 12px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;
  /* max-width: 100%; */
  white-space: nowrap;
  background-color: white;
}

.fl-table td, .fl-table th {
  text-align: center;
  padding: 8px;
}

.fl-table td {
  border-right: 1px solid #f8f8f8;
  font-size: 12px;
}

.fl-table thead th {
  color: #ffffff;
  background: var(--main-color);
}


.fl-table thead th:nth-child(odd) {
  color: #ffffff;
  background: var(--main-color);

}

.fl-table tr:nth-child(even) {
  background: #F8F8F8;
}

/* Responsive */

@media (max-width: 767px) {
  .fl-table {
      display: block;
      width: 100%;
  }
  .table-wrapper:before{
      content: "Scroll horizontally >";
      display: block;
      text-align: right;
      font-size: 11px;
      color: white;
      padding: 0 0 10px;
  }
  .fl-table thead, .fl-table tbody, .fl-table thead th {
      display: block;
  }
  .fl-table thead th:last-child{
      border-bottom: none;
  }
  .fl-table thead {
      float: left;
  }
  .fl-table tbody {
      width: auto;
      position: relative;
      overflow-x: auto;
  }
  .fl-table td, .fl-table th {
      padding: 20px .625em .625em .625em;
      height: 60px;
      vertical-align: middle;
      box-sizing: border-box;
      overflow-x: hidden;
      overflow-y: auto;
      width: 120px;
      font-size: 13px;
      text-overflow: ellipsis;
  }
  .fl-table thead th {
      text-align: left;
      border-bottom: 1px solid #f7f7f9;
  }
  .fl-table tbody tr {
      display: table-cell;
  }
  .fl-table tbody tr:nth-child(odd) {
      background: none;
  }
  .fl-table tr:nth-child(even) {
      background: transparent;
  }
  .fl-table tr td:nth-child(odd) {
      background: #F8F8F8;
      border-right: 1px solid #E6E4E4;
  }
  .fl-table tr td:nth-child(even) {
      border-right: 1px solid #E6E4E4;
  }
  .fl-table tbody td {
      display: block;
      text-align: center;
  }
}